<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
            <img src="../../../assets/logo.png" height="16" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/about">¿Quienes Somos?</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/catalogo">Catalogo</a>
                </li>
            </ul>

            <ul *ngIf="userLoginOn" class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/eventos">Formulario</a>
                </li>
            </ul>
            <ul *ngIf="userLoginOn" class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Comentarios</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto">
            </ul>
            <!-- Left links -->

            <div *ngIf="!userLoginOn" class="d-flex align-items-center">
                <a href="/login">
                    <button type="button" class="btn btn-link px-3 me-2">
                        Iniciar Sesión
                    </button>
                </a>
                <a href="/singup">
                    <button href="/singup" type="button" class="btn btn-primary me-3">
                        Registrarse
                    </button>
                </a>
            </div>
            <div *ngIf="userLoginOn" class="d-flex align-items-center">
                <a href="/login">
                    <button href="/home" type="button" class="btn btn-primary me-3">
                        Cerrar Sesión
                    </button>
                </a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
