<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href=" ">
                <img src="../../../assets/logo.png" height="15" alt="MDB Logo" loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Noticias</a>
                </li>
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/eventos">Eventos</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/about_est">¿Quienes Somos?</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">

        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>

<div class="container m-5">
    <h1 class="text-center">¿Quienes Somos?</h1>
    <p class="text-center">Definimos como Asociacionismo Salesiano Universitario al conjunto de grupos que, previo
        cumplimiento de los procedimientos y requisitos establecidos por la Universidad Politécnica Salesiana son
        reconocidos como tal por el Consejo Superior.</p>
</div>

<div class="container mt-5">
    <h1 class="text-center">Objetivos</h1>
    <p class="text-center">Impulsar y promover espacios de expresión juvenil universitario en diferentes ámbitos de
        participación al estilo salesiano. Desarrollar un compromiso humano, vocacional y socio-politico en los
        integrantes.</p>
</div>


<div class="container mt-5">
    <h1 class="text-center mb-4">Contactos</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danza Contemporánea</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">Liseth Silva <br>

                        Estudiante de Psicología <br>

                        ​​​​​​​Correo institucional: lsilvap2@est.ups.edu.ec​​​​​​​<br>

                        Telefono Institucional: (+593) 2 3962900 – 3962800 Ext.
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        Johanna Marianela Franco Ronquillo​<br>

                        Instructor​<br>

                        Correo institucional: jfranco@ups.edu.ec​<br>

                        Teléfono institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br>

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danza Ecuatoriana</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Camila Analuisa​<br>

                        Estudiante de Ingeniería en Biotecnología de los RR.NN.​<br>

                        Correo institucional: sanaluisao@est.ups.edu.ec​​​​​​​​<br>

                        Telefono Institucional: (+593) 2 3962900 – 3962800 Ext.​<br>
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        Jorge Mauricio Sánchez Montalván​<br>

                        Docente​<br>

                        Correo institucional: jsanchezm@ups.edu.ec​<br>

                        Teléfono institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Coro</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Emily Michelle Silva Cantos​<br>

                        Estudiante de Ingeniería en Biotecnología de los RR.NN.​<br>

                        Correo institucional: esilvac1@est.ups.edu.ec​​​​​​​​<br>

                        Telefono Institucional: (+593) 2 3962900 – 3962800 Ext.​<br>
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        Karol Liliana Caicedo Mogollón​<br>

                        Dirección de Comunicación y Cultura​<br>

                        Correo institucional: kcaicedo@ups.edu.ec​<br>

                        Teléfono institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Fútbol Masculino</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Cristian Israel Bustamante Paredes​<br>

                        Estudiante de Gerencia y Liderazgo​<br>
                        
                        Correo institucional: cbustamantep1@est.ups.est.ec​<br>
                        
                        Telefono Institucional: (+593) 991183953​<br>
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        Edwin Manuel Ñacato Pizarro​<br>

                        Docente Técnico​<br>
                        
                        Correo institucional: enacato@ups.edu.ec​<br>
                        
                        Teléfono institucional: (+593) 2 3962800 Ext. 2345 Campus Sur​<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Fútbol Femenino</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Cristina Guadalupe Gavilanes Vega​<br>

                        Estudiante de Administración de Empresas​<br>
                        
                        Correo institucional: scgavilanezv@est.ups.edu.ec ​​​​​​​​<br>
                        
                        Telefono Institucional: (+593) 995299313​<br>
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        MSc Edwin Manuel Ñacato Pizarro​<br>

                        Docente​<br>
                        
                        Correo institucional: enacato@ups.edu.ec​<br>
                        
                        Teléfono institucional: (+593) 2 3962800 Ext. 2345 Campus Sur​<br>
                                                
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Automotriz</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Poleth Desiree Álvarez Sabando​<br>

                        Estudiante de Ingeniería Automotriz​<br>
                        
                        Correo institucional: palvarezs@est.ups.edu.ec​<br>
                        
                        Telefono Institucional: (+593) 2 3962900 Ext. 2353​<br>
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        Julio César Gaguancela Sañaicela​<br>

                        Docente de Ingeniería Automotriz​<br>
                        
                        Correo institucional: jgaguancela@ups.edu.ec​<br>
                        
                        Teléfono institucional: (+593) 2 3962900 Ext. 2353​<br>                                         
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Seguridad Informática</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Erick Alejandro Parra Tapia​<br> 

                        Correo institucional: eparra@est.ups.edu.ec​<br> 
                        
                        Telefono Institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br> 
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        Manuel Alejandro Moreno Jiménez.​<br> 

                        Correo institucional: mmorenoj@ups.edu.ec​<br> 
                        
                        Teléfono institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Grupo de Emprendimiento</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Cristian fernando Ron Novillo​<br> 

                        Estudiante Ingeniería en Sistemas​<br> 
                        
                        Correo institucional: cron@est.ups.edu.ec​<br> 
                        
                        Telefono Institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br> 
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        Franklin Edmundo Hurtado Larrea​<br> 

                        Docente de Ingeniería en Sistemas​<br> 
                        
                        Correo institucional: fhurtado@ups.edu.ec​<br> 
                        
                        Teléfono institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tenis de Mesa</h4>
                    <h5>Coordinador</h5>
                    <p class="card-text">
                        Daniel Alexánder Rojas Gaona​<br> 

                        Estudiante de Ingenieria Ambiental​<br> 
                        
                        Correo institucional: danyrojasgaona@gmail.com​<br> 
                        
                        Telefono Institucional: (+593) 2 3962900 – 3962800 Ext. 2159 ​<br>                     
                    </p>
                    <h5>Animador</h5>
                    <p class="card-text">
                        M.Sc. Rosario Margarita Bolaños Montalvo​<br> 

                        Técnico Docente del Departamento de Cultura Física​<br> 
                        
                        Correo institucional: rbolanos@ups.edu.ec​<br> 
                        
                        Teléfono institucional: (+593) 2 3962900 – 3962800 Ext. 2159​<br> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>