<div *ngIf="!mostrarChat" class="chatIconContainer" (click)="mostrarChat=true">
    <img src="https://cdn-icons-png.flaticon.com/512/61/61516.png" class="chatIcon" alt="chat Icon">
</div>

<div class="card text-center" id="chat-container" *ngIf="mostrarChat">
    <div class="card-header">
        CHAT
        <div class="closeIcon" (click)="mostrarChat=false">X</div>
    </div>
    <div class="card-body">
        <div>
            <p *ngFor="let mensaje of mensajes" class="pb-2" [ngClass]="mensaje.emisor!= null ? 'send' : 'get'">
                {{mensaje.text}}
            </p>
        </div>
    </div>
    <div class="card-footer text-muted input-group">
        <input type="text" class="form-control" placeholder="Ingrese su mensaje">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"> <img
                    src="https://cdn-icons-png.flaticon.com/512/786/786407.png" width="20px" alt="send message">
            </span>
        </div>
    </div>
</div>