<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
            <img src="../../../assets/logo.png" height="16" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href=" ">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/about">¿Quienes Somos?</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/grupos">Grupos</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <a href="/login">
                    <button type="button" class="btn btn-link px-3 me-2">
                        Iniciar Sesión
                    </button>
                </a>
                <a href="/singup">
                    <button href="/singup" type="button" class="btn btn-primary me-3">
                        Registrarse
                    </button>
                </a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>


<div class="container m-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Danza_C.png" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title">Danza Contemporánea</h5>
                    <p class="card-text">
                        La danza contemporánea no se rige por reglas ni técnicas, si no que va descubriendo la filosofía
                        del movimiento de nuestro cuerpo y enfatiza la expresión autentica del ser.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Danza_Ec.jpg" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title">Danza Ecuatoriana</h5>
                    <p class="card-text">
                        Se busca promover y fortalecer la identidad cultural en sus integrantes al desarrollar procesos de formación en torno al conocimiento del folklore ecuatoriano.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Coro-2.png" class="card-img-top"
                    alt="Palm Springs Road" />
                <div class="card-body">
                    <h5 class="card-title">Coro</h5>
                    <p class="card-text">El Coro de la UPS, como agrupación emprendedora de grandes retos, asumió el estreno mundial de la obra "Misa de la Mitad del Mundo" del compositor ecuatoriano Eduardo Florencia.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/G_Futbol.png" class="card-img-top"
                    alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Fútbol Masculino</h5>
                    <p class="card-text">El grupo ASU de fútbol masculino está dirigido a todos aquellos que aman el fútbol, lo hayan practicado antes o no, no es requisito tener condiciones, el único requisito es tener ganas de aprender, entrenar, jugar y divertirte.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Futbol_F.png" class="card-img-top"
                    alt="Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Fútbol Femenino</h5>
                    <p class="card-text">
                        Es un grupo formado por chicas apasionadas por el fútbol que comprenden que deben hacer ciertos sacrificios para asistir a los entrenamientos, que deben ser disciplinadas y trabajar con mucho esfuerzo.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Automotriz_G.png" class="card-img-top"
                    alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Automotriz</h5>
                    <p class="card-text">Los grupos del asociacionismo juvenil ASU Automotriz UIO promueven el aprendizaje de los estudiantes, para que desarrollen sus habilidades y destrezas en el campo automotriz generando nuevos proyectos de innovación educativa.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Seguridad.png" class="card-img-top"
                    alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Seguridad Informática</h5>
                    <p class="card-text">Ante la gran importancia de la información confidencial y transaccional nace la necesidad de ser resguardada para que personas ajenas no puedan obtenerla y sacar provecho de la misma.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Seguridad.png" class="card-img-top"
                    alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Seguridad Informática</h5>
                    <p class="card-text">Ante la gran importancia de la información confidencial y transaccional nace la necesidad de ser resguardada para que personas ajenas no puedan obtenerla y sacar provecho de la misma.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/PinPong.png" class="card-img-top"
                    alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Tenis de Mesa</h5>
                    <p class="card-text">Con la práctica del tenis de mesa deseamos "fomentar iniciativas que contribuyan al mejoramiento de la calidad de vida de la comunidad estudiantil Salesiana.</p>
                </div>
            </div>
        </div>
    </div>
</div>