<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href=" ">
                <img src="../../../assets/logo.png" height="15" alt="MDB Logo" loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Noticias</a>
                </li>
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/eventos">Eventos</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/about_est">Contactos</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">

        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>


<main>

    <div id="c_inicio" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/eventos.jpg" width="100%" height="522px">
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container m-5">
            <h1 class="text-center">Eventos</h1>
            <p class="text-center">Los eventos de los grupos ASU son actividades organizadas por cada uno de los grupos
                ASU. Estos eventos pueden ser de cualquier tipo, desde actividades deportivas hasta conferencias,
                talleres o ferias</p>
        </div>
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div *ngFor="let _events of events">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="container text-start">
                                <img src="{{_events.urlToImage}}" width="100%" height="225"
                                    class="card-img-top">
                                    <p class="fs-5">{{_events.title}}</p>       
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{_events.description}}<br>
                                    <br>
                                    {{_events.publishedAt}}<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-3">
    <div class="container">

    </div>
</footer>

<app-chat></app-chat>