<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
            <img src="../../../assets/logo.png" height="16" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href=" ">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/about">¿Quienes Somos?</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/grupos">Grupos</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <a href="/login">
                    <button type="button" class="btn btn-link px-3 me-2">
                        Iniciar Sesión
                    </button>
                </a>
                <a href="/singup">
                    <button href="/singup" type="button" class="btn btn-primary me-3">
                        Registrarse
                    </button>
                </a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<div class="container m-5">
    <h1 class="text-center">¿Quienes Somos?</h1>
    <p class="text-center">Definimos como Asociacionismo Salesiano Universitario al conjunto de grupos que, previo
        cumplimiento de los procedimientos y requisitos establecidos por la Universidad Politécnica Salesiana son
        reconocidos como tal por el Consejo Superior.</p>
</div>

<div class="container mt-5">
    <h1 class="text-center">Objetivos</h1>
    <p class="text-center">Impulsar y promover espacios de expresión juvenil universitario en diferentes ámbitos de
        participación al estilo salesiano. Desarrollar un compromiso humano, vocacional y socio-politico en los
        integrantes.</p>
</div>

