<app-nav></app-nav>

<div class="container m-5">
    <h1 class="text-center">¿Quienes Somos?</h1>
    <p class="text-center">Roberto Arte en Cuero es un negocio dedicado a la elaboración y venta de artículos en cuero legítimo de alta calidad. 
        Su catálogo incluye una variedad de productos, como cinturones, carteras, billeteras, monederos y prendas de vestir en cuero. Además, ofrecen
         la posibilidad de hacer artículos a medida y personalizados según las preferencias de los clientes. </p>
</div>

<div class="container mt-5">
    <h1 class="text-center">Objetivo</h1>
    <p class="text-center">Proporcionar productos de alta calidad, artesanía meticulosa y atención excepcional al cliente. 
        Ser referente en la venta de artículos en cuero, destacándose por la exclusividad y la atención al detalle en sus productos. </p>
</div>

<div class="container py-4 mt-5">
    <h1 class="mb-4">Información del negocio</h1>

    <!-- Horarios -->
    <div class="mt-4">
        <h3>Horarios</h3>
        <p>Horario de atención: Lunes a Sábados de 9:00 AM a 7:00 PM</p>
        <p>Horario de fin de semana: Domingo de 9:00 AM a 5:00 PM</p>
    </div>
     <!-- Contactos -->
     <div>
        <h3>Contactos</h3>
        <p>Correo electrónico: robertoarteencuero@gmail.com</p>
        <p>Teléfono: +XX XXX XXX XXX</p>
    </div>
    <!-- Ubicación -->
    <div class="mt-5">
        <h3>Ubicación</h3>
        <p>Centro Comercial Quitus. local 356 corredor 5 Quito, Ecuador</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d350.54173347888025!2d-78.49968656256144!3d-0.20309212843932192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a3fbb8e0733%3A0xf6488c5a9d564f5a!2sCentro%20Comercial%20Artesanal%20Quitus!5e0!3m2!1ses-419!2sec!4v1690436468185!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

   


   