<app-nav></app-nav>

<div class="container py-4">
    <h1 class="mb-4">Formulario de Consulta</h1>
    <form action="#" method="post">
        <!-- Campo Nombre -->
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        
        <!-- Campo Email -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        
        <!-- Campo Consulta -->
        <div class="form-group">
            <label for="consulta">Consulta:</label>
            <textarea class="form-control" id="consulta" name="consulta" rows="4" required></textarea>
        </div>

        <!-- Botón para enviar el formulario -->
        <button type="submit" class="btn btn-primary mt-2">Enviar Consulta</button>
    </form>
</div>